/* styles.css */
body {
    transition: background-color 0.5s, color 0.5s;
}
.card {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 16px;
    transition: transform 0.3s ease;
}
.card:hover {
    transform: translateY(-5px);
}

/* Footer Styling */
.custom-footer {
    background-color: #2c2f38; /* Dark background color */
    color: white;
    padding: 10px 20px; /* Adjust padding for a slimmer footer */
    display: flex;
    justify-content: space-between; /* Content at the edges */
    align-items: center; /* Vertically center content */
    flex-wrap: nowrap; /* Prevent content from wrapping */
    font-size: 0.9rem; /* Slightly smaller font size */
    position: fixed;
    bottom: 0;
    width: 100%;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.2); /* Add shadow at top for separation */
}

/* Footer Content Styling */
.footer-content {
    display: flex;
    align-items: center; /* Vertically align content */
    gap: 10px; /* Add small spacing between elements */
    width: 100%;
    justify-content: space-between;
}

/* GitHub Icon Styling */
.github-link {
    display: flex;
    align-items: center;
    color: white;
    text-decoration: none;
    gap: 5px; /* Spacing between icon and text */
}

.github-link:hover {
    color: #00aaff; /* Highlight effect on hover */
}

.github-icon {
    width: 20px;
    height: 20px;
    object-fit: contain;
}