<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Article</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
	<link rel="stylesheet" href="static/styles.css">
    <link rel="icon" type="image/png" href="static/images/logo.png">
</head>
<body class="bg-gray-100 text-gray-800 dark:bg-gray-900 dark:text-gray-200 transition duration-500">
    <header class="bg-blue-500 text-white p-4 flex justify-between items-center">
        <h1 class="text-2xl font-bold">Add Article</h1>
    </header>
	<nav class="bg-blue-500 text-white p-4 flex justify-between items-center">
		<a href="/" class="text-lg font-bold">Home</a>
		<a href="/bookmarks" class="text-lg font-bold">Bookmarks</a>
		<a href="/add_article" class="text-lg font-bold">Add Article</a>
	</nav>

    <main class="container mx-auto mt-6 px-4">
        <form id="add-article-form" class="bg-white p-6 rounded-lg shadow-md">
            <div class="mb-4">
                <label for="title" class="block text-sm font-bold mb-2">Title</label>
                <input type="text" id="title" name="title" required class="w-full p-2 border rounded">
            </div>
            <div class="mb-4">
                <label for="description" class="block text-sm font-bold mb-2">Description</label>
                <textarea id="description" name="description" rows="4" required class="w-full p-2 border rounded"></textarea>
            </div>
			<div class="mb-4">
                <label for="source" class="block text-sm font-bold mb-2">Source Name</label>
                <input id="source" name="source" required class="w-full p-2 border rounded">
            </div>
            <div class="mb-4">
                <label for="url" class="block text-sm font-bold mb-2">URL</label>
                <input type="url" id="url" name="url" required class="w-full p-2 border rounded">
            </div>
            <button type="submit" class="bg-green-500 text-white px-4 py-2 rounded hover:bg-green-600">Add Article</button>
        </form>

    <!-- Toast Notifications Container -->
    <div id="toast-container" class="toast-container"></div>
    </main>
	
	<!-- Footer -->
    <footer class="custom-footer">
        <div class="footer-content">
            <span>&copy; 2024 My Application</span>
            <a href="https://github.com/thesonicstar" target="_blank" class="github-link">
                GitHub
                <i class="fab fa-github"></i>
            </a>
        </div>
    </footer>

    <script src="static/addarticle.js"></script>
</body>
</html>
