<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bookmarked Articles</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <link rel="stylesheet" href="static/styles.css">
    <link rel="icon" type="image/png" href="static/images/logo.png">
</head>
<body class="bg-gray-100 text-gray-800 dark:bg-gray-900 dark:text-gray-200 transition duration-500">

    <!-- Header -->
    <header class="bg-blue-500 text-white p-4 flex justify-between items-center">
        <h1 class="text-2xl font-bold">Bookmarked Articles</h1>
        <a href="/" class="bg-gray-800 text-white px-3 py-1 rounded hover:bg-gray-700">Home</a>
    </header>

    <!-- Main Content -->
    <main class="container mx-auto mt-6 px-4">
        <div id="bookmarks-container" class="grid gap-6 grid-cols-1 sm:grid-cols-2 lg:grid-cols-3">
            <!-- Bookmarked articles will be dynamically added here -->
        </div>
    </main>
    <!-- Toast Notifications Container -->
    <div id="toast-container" class="toast-container"></div>

    <!-- Footer -->
    <footer class="custom-footer">
        <div class="footer-content">
            <span>&copy; 2024 My Application</span>
            <a href="https://github.com/thesonicstar" target="_blank" class="github-link">
                GitHub
                <i class="fab fa-github"></i>
            </a>
        </div>
    </footer>

    <script src="static/bookmarks.js"></script>
</body>
</html>
