<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Google Technology News</title>
    <link rel="stylesheet" href="static/styles.css">
</head>
<nav class="bg-blue-500 text-white p-4 flex justify-between items-center">
    <a href="/" class="text-lg font-bold">Home</a>
    <a href="/google_news" class="text-lg font-bold">Google News</a>
    <a href="/bookmarks" class="text-lg font-bold">Bookmarks</a>
    <a href="/add_article" class="text-lg font-bold">Add Article</a>
</nav>
<body>
    <header>
        <h1>Google Technology News</h1>
    </header>
    <main id="news-container">
        <!-- News articles will load here -->
            <!-- Toast Notifications Container -->
        <div id="toast-container" class="toast-container"></div>
    </main>
    <script src="static/google_news.js"></script>
</body>
</html>
